<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIUserInterfaceStyle</key>
	<string>Light</string>
	<key>BASE_URL</key>
	<string>$(BASE_URL)</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>instagram</string>
		<string>youtube</string>
		<string>twitter</string>
		<string>fb</string>
		<string>maps</string>
		<string>comgooglemaps</string>
		<string>waze</string>
	</array>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Ventuor requires your location to work properly.</string>
	<key>NSCameraUsageDescription</key>
	<string>The app needs to capture your picture for your profile image</string>
</dict>
</plist>
